<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

	<link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico"/>
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32"> 
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-chrome-192x192.png">    
	<link rel="icon" type="image/png" sizes="512x512" href="/assets/favicon/android-chrome-512x512.png">  
	<link rel="manifest" href="/assets/favicon/site.webmanifest">
    
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

{% if page.layout != 'page' %}
  {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'locale' %}
  {% if posts.size == 0 %}
    {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'locale' %}
  {% endif %}
  {% if posts.size > 1 %}
    {% for post in posts %}
  <link rel="alternate" hreflang="{{post.lang}}" href="{{ site.base-url }}{{ post.url }}" />
    {% endfor %}
  {% endif %}
{% endif %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% seo %}
</head>
