

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">{{ site.data.translations['postedBy'][page.locale] }} {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} {{ site.data.translations['onDate'][page.locale] }} {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager d-flex justify-content-center">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; {{ site.data.translations['prevPost'][page.locale] }}</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ site.data.translations['nextPost'][page.locale] }} &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
