---
layout: page
title: "Libros"
description: "Reseñas, resúmenes y notas de libros que he leído"
header-img: "img/contact-bg.jpg"
locale: es
lang-ref: books
---

{% for post in site.tags.book %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
    </a>
    <p class="post-meta">{{ site.data.translations['postedBy'][page.locale] }} {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} {{ site.data.translations['onDate'][page.locale] }} {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}