/*
Error: File to import not found or unreadable: /Users/danielvela/projects/madcato.github.io/_sass/minima/skins/classic.scss.
        on line 3 of assets/style.scss

1: 
2: @import
3:   "/Users/danielvela/projects/madcato.github.io/_sass/minima/skins/classic.scss",
4:   "/Users/danielvela/projects/madcato.github.io/_sass/minima/initialize";

Backtrace:
assets/style.scss:3
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/import_node.rb:44:in `import'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/danielvela/.rvm/gems/ruby-3.2.1/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/danielvela/.rvm/gems/ruby-3.2.1/bin/sass:25:in `load'
/Users/danielvela/.rvm/gems/ruby-3.2.1/bin/sass:25:in `<main>'
/Users/danielvela/.rvm/gems/ruby-3.2.1/bin/ruby_executable_hooks:22:in `eval'
/Users/danielvela/.rvm/gems/ruby-3.2.1/bin/ruby_executable_hooks:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: /Users/danielvela/projects/madcato.github.io/_sass/minima/skins/classic.scss.\A         on line 3 of assets/style.scss\A \A 1: \A 2: @import\A 3:   \"/Users/danielvela/projects/madcato.github.io/_sass/minima/skins/classic.scss\",\A 4:   \"/Users/danielvela/projects/madcato.github.io/_sass/minima/initialize\";"; }
